---
layout: default
---
<div class="projects">
  <h1>Projects</h1>
    <div class="projectbox">
    {% for post in site.posts %}
        {% if post.project %}
        <a href="{{ post.link}}" target="_blank" class="project">
          <h1>{{ post.title }}</h1>
          <p>{{ post.content | strip_html }}</p>
        </a>
        {% endif %}
      {% endfor %}
    </div>
</div>

<div class="posts">
  <h1>Blog</h1>
  {% for post in site.posts %}
    {% unless post.draft or post.project %}
      <article class="post">
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <div class="entry">
          {{ post.excerpt | remove: '<h1>' | remove: '</h1>'}}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endunless %}
  {% endfor %}
  <hr />
</div>